extends layout

block content
  h1= title
  span(style='padding-right: 1rem;') Welcome to #{title}
  i(class='far fa-clock')
  
  br
  br

  div Locations:
  ul(id='locations-list')
    each item in locations
      li(id=item['location_name'].toLowerCase())
        div(class='name')= item['location_name']
        div(class='type')= item['location_type']
        div(class='extent')= item['extent']
        div(class='timestamp')= item['last_updated']

  script(src="/javascripts/update.js")